version: 0.0.0
organization:
  name: ""
  email: ""
  url: 0.0.0.0
server:
  hmac_secret: ""
  log_level: 0
  host: 0.0.0.0
  port: 8080
  ed25519_private_key: ""
  ed25519_public_key: ""
db:
  host: fpdb.cluster-c3rqltpjnbnr.us-east-2.rds.amazonaws.com
  port: 5432
  user: adapticcuser
  password: dbpass
  db_name: adapticc
mail:
  host: "email-smtp.us-east-2.amazonaws.com"
  addr: "email-smtp.us-east-2.amazonaws.com:587"
  username: ""
  password: ""
cerbos:
  address: 